<div class="opciones col m12">
	<%= link_to new_bedroom_path, class:"btn btn-floating right waves-effect" do %>
		<i class="material-icons">add_circle</i>
	<%end%>
</div>
<div class="filtros col m12">
	<%= link_to "Desactivas",bedrooms_path(state_bedroom: "Desactivado"), class:"btn"%>
	<%= link_to "Activas",bedrooms_path(state_bedroom: "Activo"), class:"btn"%>
	<%= link_to "Ocupadas",bedrooms_path(state_reservation: "Activo"), class:"btn"%>
	<%= link_to "Libres",bedrooms_path(state_reservation: "Libre"), class:"btn"%>
</div>
<div class="contenedor_habitaciones col m12">
	<% @bedrooms.each do |b|%>
		<%= render 'content_bedroom', b: b%>
	<% end %>
</div>
